@page "/files"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject IWebHostEnvironment Environment

<PageTitle>Files</PageTitle>
<h1 class="text-3xl">View Edit Upload</h1>


<p class="p-5">
    <InputFile OnChange="@LoadFiles" class="hidden" id="file-upload" />
    <label>
        Stuff me full of files
    </label>
    <label for="file-upload" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Choose a File
    </label>

</p>

@if (true)
{
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-3">
    @for (int i = 0; i < 12; i++)
        {
            <div class="p-4 bg-slate-900 rounded-md shadow-md">
                <div class="h-20 bg-indigo-950 rounded-md"></div>
                <div class="animate-pulse  mt-2 h-4 w-36 bg-slate-800 rounded-md bg-opacity-60"></div>
                <div class="animate-pulse  mt-2 h-4 w-52 bg-slate-800 rounded-md bg-opacity-60"></div>
            </div>
        }
    </div>
}

else
{
    <ul class="bg-blue-950">
    @foreach (var file in loadedFiles)
        {
            <li>
                <ul>
                    <li>Name: @file.Name</li>
                    <li>Last modified: @file.LastModified.ToString()</li>
                    <li>Size (bytes): @file.Size</li>
                    <li>Content type: @file.ContentType</li>
                </ul>
            </li>
        }
    </ul>
}

@code {
    private List<IBrowserFile> loadedFiles = new();
    private bool isLoading;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles())
        {
            try
            {
                loadedFiles.Add(file);
                var trustedFileNameForFileStorage = file.Name;
                var path = Path.Combine(Environment.ContentRootPath,
                Environment.EnvironmentName, "unsafe_uploads",
                trustedFileNameForFileStorage);
                @* Console.WriteLine($"Path: {path}"); *@
                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream().CopyToAsync(fs);
            }
            catch (Exception ex)
            {
                Console.WriteLine($"File: {file.Name} Error: {ex.Message}");
            }
            // print file metadata
            @* Console.WriteLine($"File: {file.Name} Size: {file.Size}"); *@
        }

        isLoading = false;
    }
    private async Task<string> GetImageSourceAsync(IBrowserFile file)
    {
        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        return $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
    }
}